@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

/*p:not(.lead) {
	font-family: 'PT Serif';
}*/


label {
	font-weight: normal;
	font-size: 10pt;
}

#barChart svg {
    height: 400px;
}

#lineChart svg {
    height: 400px;
}

#admissionsChart svg {
    height: 400px;
}
